@model CarLoan.App.Models.Quote

@{
    Layout = "_LayoutUserPortal";
}

<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <!-- Form -->
        <form class="js-validate" id="form" method="post" asp-action="Index" asp-controller="Home">
            <div class="text-center mb-5 mt-3">
                <h1 class="display-4">Request a Quote</h1>
            </div>

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Name</label>

                <input asp-for="name" type="text" class="form-control form-control-lg" name="name" id="signupSrEmail" placeholder="Markwilliams" aria-label="Markwilliams" required="required" data-msg="Please enter a valid name">
            </div>
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Surname</label>

                <input asp-for="surname" type="text" class="form-control form-control-lg" name="surname" id="signupSrEmail" placeholder="Williams" aria-label="Williams" required="required" data-msg="Please enter a valid surname">
            </div>
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Email</label>

                <input asp-for="email" type="email" class="form-control form-control-lg" name="email" id="signupSrEmail" placeholder="Williams@gmail.com" aria-label="Williams" required="required" data-msg="Please enter a valid email">
            </div>
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Phone</label>

                <input asp-for="phone" type="number" class="form-control form-control-lg" name="phone" id="signupSrEmail" placeholder="0315076868" aria-label="Williams" required="required" data-msg="Please enter a valid phone number">
            </div>
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Address</label>

                <input asp-for="address" type="text" class="form-control form-control-lg" name="address" id="signupSrEmail" placeholder="20 Long beach, California" aria-label="Williams" required="required" data-msg="Please enter a address">
            </div>
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Amount</label>
                @Html.TextBoxFor(model => model.amount,new{ @id="txtChar", @class="form-control form-control-lg", @onkeypress="return isNumberKey(event,this.id)",@name="txtChar", @required="required"})
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
        </form>
        <!-- End Form -->
        <div class="js-form-message mt-5" style="color:#ed4c78;font-size:80%;">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
@section Scripts {
<!-- JS Implementing Plugins -->
<script src="~/front-dashboard-v1.1/dist/assets/js/components/hs.validation.js"></script>
<script src="~/front-dashboard-v1.1/dist/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/front-dashboard-v1.1/src/assets/js/hs.validation.js"></script>
<script>
    $(document).on('ready', function () {
        // INITIALIZATION OF FORM VALIDATION
        // =======================================================
        $('.js-validate').each(function () {
            $.HSCore.components.HSValidation.init($(this));
        });
    });
</script>
<style>
    .validation-summary-errors ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>
<script>
function checkKey() {
    var clean = this.value.replace(/[^0-9,]/g, "")
                           .replace(/(,.*?),(.*,)?/, "$1");
    // don't move cursor to end if no change
    if (clean !== this.value) this.value = clean;
}

// demo
document.getElementById('txtChar').oninput = checkKey;
</script>
}